<header class="header">
  <nav class="navbar nav-1">
    <section class="flex">
      <a routerLink="" class="logo"><i class="fas fa-house"></i>Trang chủ</a>

      <ul>
        <li>
          <a routerLink="/post-property">Tạo bài đăng<i class="fa-solid fa-plus"></i></a>
        </li>
      </ul>
    </section>
  </nav>

  <nav class="navbar nav-2">
    <section class="flex">
      <div id="menu-btn" class="fas fa-bars"></div>

      <div class="menu">
        <ul>
          <li>
            <a href="#" (click)="(false)">Bài đăng<i class="fas fa-angle-down"></i></a>
            <ul>
              <li>
                <a routerLink="/listings">Tất cả</a>
              </li>
              <li>
                <a routerLink="/sell">Bán</a>
              </li>
              <li>
                <a routerLink="/rent">Cho thuê</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" (click)="(false)">Thông tin<i class="fas fa-angle-down"></i></a>
            <ul>
              <li>
                <a routerLink="/about">Về chúng tôi</a>
              </li>
              <li>
                <a routerLink="/contact">Liên hệ</a>
              </li>
              <li>
                <a href="/contact#faq">FAQ</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      @if (userService.currentUser(); as user) {
      <ul>
        <li>
          <a routerLink="/message">Tin nhắn [{{ totalMessageUnread }}] </a>
        </li>
        <li>
          <a routerLink="/saved">Đã lưu [{{ totalBookmarked }}]<i class="far fa-heart"></i></a>
        </li>
        <li>
          <a href="#" (click)="(false)">{{ user.name }} <i class="fas fa-angle-down"></i></a>
          <ul>
            <li>
              <a>Thống kê</a>
            </li>
            <li>
              <a routerLink="/post-property">Tạo bài đăng</a>
            </li>
            <li>
              <a routerLink="/my-listings">Đã đăng</a>
            </li>
            <li>
              <a routerLink="/profile">Tài khoản</a>
            </li>
            <li>
              <a href="#" (click)="onLogout()">Đăng xuất</a>
            </li>
          </ul>
        </li>
      </ul>
      } @else {
      <ul>
        <li>
          <a href="#" (click)="(false)">Tài khoản <i class="fas fa-angle-down"></i></a>
          <ul>
            <li>
              <a routerLink="/login">Đăng nhập</a>
            </li>
            <li>
              <a routerLink="/register">Đăng ký</a>
            </li>
          </ul>
        </li>
      </ul>
      }
    </section>
  </nav>
</header>