<footer class="footer">
  <section class="flex">
    <div class="box">
      <a href="tel:1234567890"><i class="fas fa-phone"></i><span>123456789</span></a>
      <a href="tel:1112223333"><i class="fas fa-phone"></i><span>1112223333</span></a>
      <a href="mailto:ducna0610@gmail.com"><i class="fas fa-envelope"></i><span>ducna0610&#64;gmail.com</span></a>
      <a href="#"><i class="fas fa-map-marker-alt"></i><span>Hồ Chí Minh, Việt Nam - 729110</span></a>
    </div>

    <div class="box">
      <a routerLink="/"><span>trang chủ</span></a>
      <a routerLink="/about"><span>giới thiệu</span></a>
      <a routerLink="/contact"><span>liên hệ</span></a>
      <a routerLink="/saved"><span>đã lưu</span></a>
    </div>

    <div class="box">
      <a href="#"><span>facebook</span><i class="fab fa-facebook-f"></i></a>
      <a href="#"><span>twitter</span><i class="fab fa-twitter"></i></a>
      <a href="#"><span>linkedin</span><i class="fab fa-linkedin"></i></a>
      <a href="#"><span>instagram</span><i class="fab fa-instagram"></i></a>
    </div>
  </section>

  <div class="credit">
    &copy; copyright &#64; by <span>ducna0610</span> | all rights
    reserved!
  </div>
</footer>