<section class="form-container">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <h3>Quên mật khẩu</h3>
        <input type="email" name="email" placeholder="email" class="box" formControlName="email" [class.ng-touched]="
          isSubmitted || forgotPasswordForm.get('email')!.touched
        " />
        <span *ngIf="
          forgotPasswordForm.get('email')!.invalid &&
          (forgotPasswordForm.get('email')!.touched || isSubmitted)
        " class="error">
            <span *ngIf="forgotPasswordForm.get('email')!.hasError('required')">
                Email phải nhập
            </span>
            <span *ngIf="forgotPasswordForm.get('email')!.hasError('email')">
                Email không hợp lệ
            </span>
        </span>

        <input type="submit" value="Gửi" name="submit" class="btn" />
        <p>
            đã có tài khoản?
            <a routerLink="/login">đăng nhập</a>
        </p>
    </form>
</section>