<div class="home">
    <section class="center">
        <app-property-filter [propertyParam]="propertyParam"></app-property-filter>
    </section>
</div>
<section class="listings">
    <h1 class="heading">Bài đăng phù hợp</h1>
    <div class="box-container">
        @for (property of (properties | filter:propertyParam.address:'address' |
        filter:propertyParam.city:'city'| filter:propertyParam.category:'category' |
        sort:[propertyParam.sortBy, propertyParam.sortDirection]);
        track property.id) {
        <app-property-card [property]="property"></app-property-card>
        } @empty {
        <p class="empty">
            Chưa có bài đăng nào!
            <a routerLink="/post-property" style="margin-top: 1.5rem"
                class="btn">Thêm mới</a>
        </p>
        }
    </div>
</section>