<!-- about section starts  -->
<section class="about">
  <div class="row">
    <div class="image">
      <img src="images/about-img.svg" alt="" />
    </div>
    <div class="content">
      <h3>Tại sao lại chọn chúng tôi?</h3>
      <p>
        Hàng ngàn tin đăng phòng trọ đa dạng, mặt bằng bán, cho thuê
        từ bình dân đến cao cấp, đáp ứng mọi nhu cầu của bạn.
      </p>
      <a routerLink="/contact" class="inline-btn">Liên hệ</a>
    </div>
  </div>
</section>
<!-- about section ends -->

<!-- steps section starts  -->
<section class="steps">
  <h1 class="heading">Đi trước 3 bước</h1>

  <div class="box-container">
    <div class="box">
      <img src="images/step-1.png" alt="" />
      <h3>Tìm kiếm</h3>
      <p>
        Tìm kiếm mọi thứ bạn cần với nhiều tiêu chí khác nhau.
      </p>
    </div>

    <div class="box">
      <img src="images/step-2.png" alt="" />
      <h3>Liên hệ</h3>
      <p>
        Hỗ trợ nhắn tin trực tiếp ngay trên website.
      </p>
    </div>

    <div class="box">
      <img src="images/step-3.png" alt="" />
      <h3>Uy tín</h3>
      <p>
        Các bài đăng được kiểm duyệt để đảm bảo chất lượng.
      </p>
    </div>
  </div>
</section>
<!-- steps section ends -->

<!-- review section starts  -->
<section class="reviews">
  <h1 class="heading">Đánh giá của khách hàng</h1>

  <div class="box-container">
    <div class="box">
      <div class="user">
        <img src="images/pic-1.png" alt="" />
        <div>
          <h3>Johnny Sins</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
      <p>
        Có rất nhiều lựa chọn phòng trọ trên Homeverse, đáp ứng mọi nhu cầu của tôi.
      </p>
    </div>

    <div class="box">
      <div class="user">
        <img src="images/pic-2.png" alt="" />
        <div>
          <h3>Mẫn Nhi</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
      <p>
        Mỗi ngày đều có nhiều tin đăng mới bài đăng mới đa dạng thể loại giúp tôi không bỏ lỡ bất kỳ cơ hội nào.
      </p>
    </div>

    <div class="box">
      <div class="user">
        <img src="images/pic-3.png" alt="" />
        <div>
          <h3>Đức đẹp trai</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
      <p>
        Tính năng chat trực tiếp với chủ nhà rất tiện lợi, giúp mình tiết kiệm thời gian liên hệ.
      </p>
    </div>

    <div class="box">
      <div class="user">
        <img src="images/pic-4.png" alt="" />
        <div>
          <h3>Ngọc Trinh</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
      <p>
        Các tin đăng trên Homevese đều có đầy đủ thông tin về giá cả, diện tích,
        tiện nghi và hình ảnh minh họa rõ ràng, giúp tôi hình dung được căn phòng trước khi đi xem.
      </p>
    </div>

    <div class="box">
      <div class="user">
        <img src="images/pic-5.png" alt="" />
        <div>
          <h3>Tèo</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
      <p>
        Homeverse là một lựa chọn tốt cho những người đang tìm phòng trọ lần đầu.
        Trang web cung cấp nhiều thông tin hữu ích, giúp tôi tìm được căn phòng phù hợp.
      </p>
    </div>

    <div class="box">
      <div class="user">
        <img src="images/pic-6.png" alt="" />
        <div>
          <h3>Sinh viên nghèo</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
      <p>
        Đây là cứu cánh của sinh viên chúng mình!
        Giao diện đơn giản, dễ tìm kiếm phòng trọ gần trường.
        Đặc biệt, nhiều phòng trọ có giá cả phải chăng, phù hợp với túi tiền sinh viên.
      </p>
    </div>
  </div>
</section>
<!-- review section ends -->