<header class="header">
    <div id="close-btn"><i class="fas fa-times"></i></div>
  
    <a routerLink="/admin/dashboard" class="logo">Homverse</a>
  
    <nav class="navbar">
      <a routerLink="/admin/dashboard"><i class="fas fa-home"></i><span>Trang chủ</span></a>
      <a><i class="fas fa-building"></i><span>Bài đăng</span></a>
      <a><i class="fas fa-user"></i><span>Người dùng</span></a>
      <a><i class="fas fa-user-gear"></i><span>Thống kê</span></a>
      <a routerLink="/admin/contacts"><i class="fas fa-message"></i><span>Liên hệ</span></a>
    </nav>
  
    <a class="btn">Cập nhật tài khoản</a>
    <a href="#"
      onclick="return confirm('Bạn có muốn đăng xuất?');"
      class="delete-btn"
      ><i class="fas fa-right-from-bracket"></i><span>Đăng xuất</span></a
    >
  </header>
  
  <div id="menu-btn" class="fas fa-bars"></div>
  